.custom-button {
  flex: 1 1 auto;
  width: 80%;
  height: 50px;
  letter-spacing: 0.5px;
  padding: 0px 7px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease-out;
  outline: none;
  margin: 7.5px 10px;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;


  &:hover {
  
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.432);
  }
  &.inverted{
    background-color: white;
    color:black;
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.432);
  } 
  &.google-sign-in{
    background-color:#4285f4 ;
    color: white;

    &:hover{
      background-color: #357ae8;
      border: none;
    }
  }
}