.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    .title {
      display: inline-block;
      font-size: 28px;
      margin-bottom: 40px;
      animation: moveInLeft 1s ease-in-out;
      cursor: pointer;
      &:hover{
        color: rgba(134, 134, 233, 0.842);
      }
    }
  
    .link{
      width: 0%;
      display: inline-flex;
    }

    .preview {
    
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
      gap: 10px;
      
    

    }
    
    }
  

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(90vw) scale(2);
      
      
    }
    80%{
      
      transform: translateX(-2vw);
      
    }
    100%{
      opacity: 1;
      transform: translateX(0) scale(1);
      
    }
  }