.sign-up{
    display: flex;
    flex-direction: column;
    width: 44%;
    justify-content: center;

    .buttons{
        
        display: flex;
        justify-content: space-between;
        width: 65%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}